<link href="~/Content/site.css" rel="stylesheet" />

<div class="Container">

    <div class="footer-bottom-navigation">
        <div class="cell-view-left">
            <div class="footer-links">
                <a href="#">Home</a>
                <a href="#">Product</a>
                <a href="#">About</a>
                <a href="#">Orders </a>
                <a href="#" class="lastOf">Contact Us</a>
            </div>
        </div>
        <div class="cell-view-right">
            <div class="payment-methods">
                <a href="#"><img alt="" src="~/Content/images/Footer/payment-method-1.png"></a>
                <a href="#"><img alt="" src="~/Content/images/Footer/payment-method-2.png"></a>
                <a href="#"><img alt="" src="~/Content/images/Footer/payment-method-3.png"></a>
                <a href="#"><img alt="" src="~/Content/images/Footer/payment-method-4.png"></a>
                <a href="#"><img alt="" src="~/Content/images/Footer/payment-method-5.png"></a>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</div>
